<body>
    <div class="body-main">
        <div class="content">
            <div class="con1">
                <img class="img1"
                    src="https://royaloakindia.com/media/catalog/product/cache/bf9e4acdfb1328f7a363d76de02b979f/r/o/royaloak-miami-american-fabric-sofa-2s-1.jpg"
                    alt="sofaa">
                    <div class="details">
                        <p>SOFA</p>
                    <p>PRICE: 30000/-</p>
                    <button class="kavi">Buy Now</button>
                    </div>
            </div>
            <div class="con1">

                <img class="img1"
                    src="https://royaloakindia.com/media/catalog/product/cache/bf9e4acdfb1328f7a363d76de02b979f/r/o/royaloak-miami-american-fabric-sofa-2s-1.jpg"
                    alt="table">
                    <div class="details">
                        <p>TABLE</p>
                    <p>PRICE: 40000/-</p>
                    <button class="kavi">Buy Now</button>
                    </div>

            </div>
            <div class="con1">

                <img class="img1"
                    src="https://royaloakindia.com/media/catalog/product/cache/bf9e4acdfb1328f7a363d76de02b979f/r/o/royaloak-miami-american-fabric-sofa-2s-1.jpg"
                    alt="bedbed">
                    <div class="details">
                        <p>BED</p>
                    <p>PRICE: 50000/-</p>
                    <button class="kavi">Buy Now</button>
                    </div>

            </div>
        </div>
    </div>
</body>
<style>
    body {
        margin: 0;
        padding: 0
    }
    .kavi{
        border-width: 0px;
        border-radius: 5px;
        background-color:#CEE5D0;
        font-size: larger;
    }
    img {
        height: 150px;
        width: auto;

    }

    img:hover {
        background-color: #CEE5D0;
    }

    .content {
        display: flex;
        column-gap: 75px;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        margin: 50px;
        justify-content: center;


    }

    .con1 {
        padding: 50px;
        background-color: #ECB390;
        justify-content: center;
        align-items: center;
    }

    /* .con2 {
        padding: 50px;
        background-color: #ECB390;
    } */
</style>